* {
	margin: 0;
	padding: 0;
}

/*试卷*/
#exam_contents {
	display: none;
	width: 80%;
	margin-left: 10%;
}

/*开始做题按钮*/
.do_paper {
	margin-right: 180px;
	position: absolute;
	left: 35px;
	top: 40px;
	width: 100px;
	height: 35px;
	border: 0;
	border-radius: 15px;
	background-color: #0087cb;
	color: #FFFFFF;
	transition: 0.5s;
}

/*试卷名*/
.exam_paper {
	margin-bottom: 35px;
	margin-top: 35px;
	margin-right: 75px;
	margin-left: 140px;
}


/*计时器*/
.time_meter {
	display: none;
	position: fixed;
	top: 35px;
	right: 10px;
	width: 8%;
	height: 50px;
	background-color: #f9f8fd;
	text-align: center;
	line-height: 50px;
	color: #FF4C3B;
}

/*温馨提示*/
.tips {
	color: #717171;
	margin-bottom: 15px;
}

/*大题型*/
h3 {
	margin-top: 25px;
	margin-bottom: 25px;
}

/*题目*/
ol li span {
	font-weight: 900;

}

/*选项*/
ol li {
	margin-left: 55px;
	margin-bottom: 35px;
	margin-top: 15px;
}
label {
	display: block;
	margin-top: 25px; /* 选项行间距 */
	margin-bottom: 5px;
}

/*选项鼠标悬停*/
.intput_active:hover {
	background-color: #f4f0e6;
}

input {
	margin-right: 5px;
}

/*填空、简答题*/
.full_space input {
	outline: none;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	text-align: center;
	width: 100px;
	height: 24px;
	border: 0px 0px 1px 0px solid black;
}
.full_space input:hover {
	background-color: #f4f0e6;
}

textarea {
	width: 50%;
	height: 150px;
	padding: 10px;
	font-size: 16px;
	border-radius: 15px;
	outline: none;
}
textarea:hover {
	background-color: #f4f0e6;
}

/*交卷按钮*/
.hand_in {
	width: 10%;
	height: 45px;
	background-color: #0087cb;
	margin-left: 45%;
	margin-bottom: 300px;
	margin-top: 100px;
	border: 1px solid;
	border-radius: 15px;
	color: #FFFFFF;
	font-size: 16px;
	transition: 0.5s;
}

button:hover {
	background-color: #00a03e;
}


.int1 {
	width: 30px;
	height: 30px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid;
}


