.pagination ul {
	margin-top: 3px;
	float: left;
}
.pagination ul li {
	list-style: none;
	float: left;
	transition: 0.3s;
	text-align: center;
}
.pagination ul li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	/*background-color: #f1f3f4;*/		/*分页栏背景颜色*/ 
	text-decoration: none;
	text-align: center;
	color: #000;
	margin-right: 5px;
	border-bottom: 0px solid black;
}
.int1 {
	width: 75px;
	height: 30px;
	border-bottom: 1px solid red;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	margin-left: 15px;
	transition: 0.3s;
}
.int2 {
	width: 50px;
	height: 30px;
	border: 0px;
	background-color: rgba(2,2,2,0);
	transition: 0.3s;
}
.pagination ul li:hover,.int1:hover,.int2:hover {
	background-color: #e1e0e7;
}