* {
	margin: 0px auto;
	padding: 0px;
}
body{

	background: url("../image/bg.png");
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
}
#backLogin {
	width: 768px;
	height: 37px;
	position: relative;
	top: 175px;
}
#backLogin a {
	width: 50px;
	padding: 0;
	margin: 0px auto;
	text-decoration: none;
	font-weight: 900;
	color: #fff;
	float: right;
}

.bg {
	width: 768px;
	height: 450px;
	border-radius: 15px;
	background: rgba(240, 240, 240,0.6);
	position: relative;
	top: 175px;
	text-align: center;
}

img {
	width: 75px;
	margin-top: 90px;
	margin-left: 30%;
	float: left;
}
.h2 {
	font-weight: 900;
	font-size: 24px;
	text-align: center;
	line-height: 75px;
	margin-left: 5px;
	margin-top: 90px;
	float: left;
}

#loginMod {
	margin-top: 35px;
}

span {
	font-size: 18px;
	margin-right: 10px;
	font-weight: 900;
	color: rgba(82,82,82,1);
}

svg {
	margin-left: 10px;
	margin-top: 5px;
}

#users {
	margin-bottom: 5px;
	float: left;
}

.clean-both {
	clear: both;
}

#psd {

	float: left;
}
#users,#psd {
	margin-left: 168px;
	height: 50px;
	background: rgba(80,193,233,0.1);
	border-left: 5px solid #222831;
	margin-top: 20px;
	line-height: 50px;
}

input {
	width: 320px;
	height: 35px;
	border: 1px solid #8e9b91;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0);
	padding-left: 10px;
}

button {
	margin-top: 34px;
	width: 100px;
	height: 37px;
	background: #0aa9fe;
	border-radius: 10px;
	border: 0px;
	color: #d9e7f1;
	font-size: 18px;
	font-weight: 500;
	transition: 0.3s;
}

#wxLogin {
	display: block;
	position: absolute;
	top: 3%;
	left: 40%;
	height: 120px;
	width: 120px;
}


.forget_psd {
	margin-top: -300px;
	margin-right: 5px;
	float: right;
	font-weight: 900;
}
.forget_psd a {
	color: rgba(82,82,82,1);
	text-decoration: none;
}

button:hover {
	background: #00a03e;
}

/* 忘记密码 & 注册 */
iframe {
	margin: 0px auto;
	width: 800px;
	height: 500px;
	text-align: center;
	position: relative;
	top: 175px;
	display: block;
	border: 0px solid #dadada;
	border-radius: 15px;
}

/* 版权 */
#copyright {
	display: block;
	width: 768px;
	text-align: center;
	margin: 0px auto;
	position: relative;
	top: 375px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
}
